@font-face {
  font-family: "iconfont"; /* Project id 3192496 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1645252148880') format('woff2'),
       url('iconfont.woff?t=1645252148880') format('woff'),
       url('iconfont.ttf?t=1645252148880') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
  content: "\e600";
}

.icon-RSS:before {
  content: "\e7b5";
}

.icon-github:before {
  content: "\e722";
}

.icon-email-1:before {
  content: "\e720";
}

.icon-bilibili:before {
  content: "\e60a";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-juejin:before {
  content: "\e60b";
}

.icon-journal-book:before {
  content: "\e6d6";
}

.icon-xiewenzhang:before {
  content: "\e645";
}

.icon-kongbudianyinghanniba:before {
  content: "\e601";
}

.icon-kongbudianyingmunaiyi:before {
  content: "\e604";
}

.icon-kongbudianyingxiaojiangshi:before {
  content: "\e607";
}

.icon-biaoji:before {
  content: "\e690";
}

.icon-kaifa:before {
  content: "\e6ae";
}

.icon-biaoqianpai:before {
  content: "\e60d";
}

.icon-jianpan:before {
  content: "\e609";
}

.icon-icon-test:before {
  content: "\e64c";
}

.icon-WEBqianduan:before {
  content: "\e61c";
}

.icon-shixushujuku:before {
  content: "\e60e";
}

.icon-quanshixiangmugaikuang:before {
  content: "\e619";
}

.icon-fenleix:before {
  content: "\e610";
}

.icon-wodewenda:before {
  content: "\e611";
}

.icon-ciyun:before {
  content: "\e66f";
}

.icon-wodeyouxiang:before {
  content: "\e613";
}

.icon-tubiaoji_yunfuwu-24:before {
  content: "\e696";
}

.icon-07wangzhanxiangmu:before {
  content: "\e6e4";
}

.icon-yinle1:before {
  content: "\e682";
}

.icon-gongju:before {
  content: "\e68a";
}

.icon-a-daoyanpaishedianyingyingpian:before {
  content: "\e6a6";
}

.icon-a-dianyingyingpian:before {
  content: "\e6a8";
}

.icon-a-wangzhanchaojilianjiehulianwang:before {
  content: "\e751";
}

.icon-a-yibiaopansuduwangluosuduwangluoceshi:before {
  content: "\e752";
}

.icon-Movies:before {
  content: "\e891";
}

.icon-jiqiren:before {
  content: "\edde";
}

.icon-huojian:before {
  content: "\eddf";
}

.icon-youxi:before {
  content: "\ede1";
}

.icon-lanyaerji:before {
  content: "\ede5";
}

.icon-xingqiu:before {
  content: "\ede9";
}

.icon-diannao:before {
  content: "\edeb";
}

.icon-Upan:before {
  content: "\edf1";
}

